body{
  margin: 0px;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
p{
  padding: 0px;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.navbar ul{
  background-color: rgba(0,0,0,0.5);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.navbar a{
  color: white;
  padding: 15px;
  display: block;
  text-align: center
}
.navbar a:hover{
  background-color: rgba(255,255,255,0.5);
}
.navbar li{
  float: left;
}
